body{
	margin:0;
}
#canvas{
    display: block;
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    cursor: pointer;
    background: url(../images/bg.jpg);
    background-size: cover;
}
#win{
	width: 300px;
	height: 150px;
	text-align: center;
	background: rgba(255,255,255,0.4);
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -150px;
	border: 1px solid #333;
	z-index: 100;
	font-family: '微软雅黑';
	display: none;
}
#win>h3{
	font-weight: bold;
	font-size: 20px;
	color: #333;
}
#win>h4{
	color: #333;
}
.yes,.no{
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #333;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}
.yes{
	margin-right: 20px;
}
.no{
	margin-left: 20px;
}